

:root{
    --primary-background: rgb(139, 129, 124);
    --primary-dark: #3f3d36;
    --primary-main: #302d28;

    --hover_color: #0f810b;
    --font-color: whitesmoke;
    --font-2-color: #f5deb3;

    --bg_hero_background: #6e6452;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
    max-width: 100%; /* not overflow container */
}

a {
    color: unset;
    text-decoration: none;
}

.bio a,
.project a {
    color: var(--font-color);
    padding: 0.2rem 1rem;
    background-color: var(--hover_color);

}

html,
body {
    scroll-behavior: smooth;
    
    /* overflow-x: hidden; */
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*
=============== 
Header
===============
*/

.nav-bar {
    position: fixed;
    width: 100%;
    z-index: 99;
    top: 0;
    display: grid;
    grid-template-columns: 2.3fr 0.7fr;
    justify-content: space-between;
    background: #000000ec;
    
    color: var(--font-color);
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    text-size-adjust: auto;

}.nav-links div {
    padding: 1rem 2rem;
    
}.nav-links div:hover,
.nav-links:focus-visible {
    background-color: var(--hover_color);
    border: transparent;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: space-around;

}.social-icons i:hover{
    transform: scale(1.3);
}.project a:hover,
.bio a:hover {
    transform: scale(1.05);
}


/*
=============== 
Main
===============
*/

.bg-wrapper {
    top: 50px;
    position: relative;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr auto auto;
    
}

.bg-hero {
    min-height: 50vw;
    position: relative;
    background-color: var(--bg_hero_background);
    overflow-y: hidden;
}

.bg-body{
    background-color: var(--primary-dark);
}

.bg-end {
    background-color: rgba(15, 15, 15, 0.945);
}

.main-container {
    margin: 0 auto;
    position: relative;
    width: 80%;
    z-index: 9;

    box-shadow: 1px 1px 8px 7px rgba(15, 15, 15, 0.945);
    color: var(--font-2-color);
}

/*
=============== 
About section
===============
*/

.about {
    position: absolute;
    background-image: linear-gradient(to bottom, transparent, transparent, rgb(0, 0, 0));
    top: 25%;
    left: 10%;
    width: 80%;
    padding: 5% 5% 3% 5%;

    color: var(--font-2-color);
    min-height: 75%;
    box-shadow: 1px 1px 15px 7px rgba(15, 15, 15, 0.993);
}

.about-top {
    min-height: 67%;
    width: 78%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
}
.about-top p {
    font-size: 2.5vw;
    text-align: center;
}

.name-top {
    font-size: 8vw;
    text-align: left;
}.name {
    text-transform: capitalize;
    font-size: 3vw;
}.name-info {
    font-family: 'Italianno', cursive;
    line-height: 60%;
    font-size: 2.5vw;
}



@media screen and (min-width: 420px) {
    .about-top {
        width: 75%;    
        text-align: center;
    }
}

     
/*
=============== 
Profile section
===============
*/

.bio {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.89), rgba(0, 0, 0, 0.89), rgba(0, 0, 0, 0.89),rgba(0, 0, 0, 0.89),rgba(0, 0, 0, 0.89),var(--primary-dark));
    background-size: cover;
    padding: 5vw;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.bio p {
    margin: 1rem 0;
    background-color: rgba(82, 68, 68, 0.267);

}

.skills {
    padding: 5vw;
    background-image: linear-gradient(to bottom, var(--primary-dark),  transparent);
}

.logos {
    display: flex;
    flex-wrap: wrap;
    padding-top: 1rem;
    gap: 2em;
}

.logos div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}.logos div img {
    margin: 1vw 0 1rem 0;
    width: 6vw;
    color: rgba(31, 31, 31, 0.781);
}.logos div p {
    font-size: 2vw;
}


/*
=============== 
Projects section
===============
*/

.projects {
    padding: 5vw;
    margin-top: 2rem;
    background-color: #1a1a15;
}

.project {border: 2px solid var(--hover_color);
    display: grid;
    grid-template-columns: auto;
    margin: 2rem 0;
    border-radius: 5vw;
    padding: 3%;
}

/* slider start */
.project .slider {
    /* width: 100%; */
    min-height: 190px;
    /* background: url("Img/MMinder/MMinder-home.jpeg"); */
    /* background-size: contain; */
    /* object-fit: cover; */
    position: relative;
    overflow: hidden;
}
.img1, .img2, .img3, .img4 {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}.img1 {
    animation: fade1 20s infinite;

}.img2 {
    animation: fade2 20s infinite;

}.img3 {
    animation: fade3 20s infinite;

}.img4 {
    animation: fade4 20s infinite;
}


@keyframes fade1 {
    0% {opacity: 1;}
    25% {opacity: 0;}
    50% {opacity: 0;}
    75% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fade2 {
    0% {opacity: 0;}
    25% {opacity: 1;}
    50% {opacity: 0;}
    75% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes fade3 {
    0% {opacity: 0;}
    25% {opacity: 0;}
    50% {opacity: 1;}
    75% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes fade4 {
    0% {opacity: 0;}
    25% {opacity: 0;}
    50% {opacity: 0;}
    75% {opacity: 1;}
    100% {opacity: 0;}
}
/* slider end */


.project-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.project a {
    border-radius: 100vmax;
}

@media screen and (min-width: 920px) {
    .project {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2vw;
    }
}

/*
=============== 
Contact
===============
*/


.contact {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 80%;
    margin: 3rem auto 1rem auto;
}

.contact .content{
    text-align: left;
}
.contact .content .contact-info h3 {
    font-size: 1.2rem;
    color: #dfdede;
    font-weight: normal;
}.contact .content .contact-info h3 i {
    padding-right: 1rem;
}
h2 {
    text-transform: uppercase;
    color: #1884e2;
    font-size: max( 2rem, 3vw);
}

.contact  form .box {
    padding: 0.5rem 1rem;
    background: #a5a1a133;
    color: #fff;
    border: none;
    text-transform: none;
    width: 100%;
}

.contact  form .box::placeholder {
    text-transform: capitalize;
}
.contact-grid {
    display: grid;
    gap: .5rem;
    grid-template-areas: 
        "name "
        "email" 
        "phone" 
        "message";
    grid-template-rows: .5fr .5fr .5fr 2.5fr;
    grid-template-columns: 1fr;
}
.b-name {
    grid-area: name;
}.b-email {
    grid-area: email;
}.b-message {
    grid-area: message;
}.b-phone {
    grid-area: phone;
}

.contact  form button {
    margin-top: 1rem;
    width: 100%;
    padding: .5rem;
}

@media screen and (min-width: 920px) {
    .bg-wrapper {
        top: -5%
    }
    .contact  {
        display: grid;
        grid-template-columns: .5fr 1fr;
    }
    .bio p{
        width: max(75ch);
    }
    /* .contact-grid {
        grid-template-areas: 
        "name message"
        "email message"
        "phone message";
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 2fr;
    } */

    .contact  form button {
        width: 50%;
        margin: 1rem auto 0 25%;
    }
}
/*
=============== 
Footer
===============
*/

.footer {
    display: flex;
    text-align: center;
    justify-content: center;
}
.footer p {
    color: var(--font-color);
}



/*
=============== 
Media queries
===============
*/

/* Navigation bar */
@media screen and (max-width: 475px) {
    .nav-bar {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.4fr;
    }

    .social-icons {
        justify-content: space-around;
    }.social-icons div {
        padding: .3rem 2rem;
    }

    .bg-wrapper {
        top: 85px;
    }
}

/* Background */
@media screen and (min-width:1240px){
    .bg-wrapper {
        top: -10%;
    }
}

@media screen and (min-width:1500px){ 
     .main-container,
    .project,
    .about{
        max-width: 1500px;
    }
}